# Análise e Engenharia de Dados no E-commerce Brasileiro

## Introdução

No presente projeto, utilizou-se o 'Brazilian E-Commerce Public Dataset by Olist' como base para simular o papel de engenheiros de dados em uma empresa de e-commerce. O propósito é extrair insights valiosos que não apenas melhorem as operações de negócios, mas também otimizem a logística e aprimorem a experiência do cliente. Ao mergulharmos nos dados reais do setor de e-commerce brasileiro, esta iniciativa oferece uma oportunidade prática de explorar tendências, identificar padrões e, consequentemente, orientar decisões estratégicas. Além disso, destacamos a importância de análises orientadas por dados no contexto dinâmico do comércio eletrônico, evidenciando como tais abordagens podem impulsionar melhorias tangíveis e sustentáveis no desempenho empresarial.

### Importação de bibliotecas

In [24]:
pip install -r requirements.txt

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: kaggle in c:\users\léo\appdata\roaming\python\python311\site-packages (from -r requirements.txt (line 1)) (1.6.11)
Requirement already satisfied: sqlalchemy in c:\users\léo\appdata\roaming\python\python311\site-packages (from -r requirements.txt (line 2)) (2.0.29)
Requirement already satisfied: pandas in c:\users\léo\appdata\roaming\python\python311\site-packages (from -r requirements.txt (line 3)) (2.2.1)
Requirement already satisfied: numpy in c:\users\léo\appdata\roaming\python\python311\site-packages (from -r requirements.txt (line 4)) (1.26.4)
Requirement already satisfied: pandas-gbq in c:\users\léo\appdata\roaming\python\python311\site-packages (from -r requirements.txt (line 5)) (0.22.0)
Requirement already satisfied: google-cloud-bigquery in c:\users\léo\appdata\roaming\python\python311\site-packages (from -r requirements.txt (line 6)) (3.20.1)
Requirement already satisfied: six>=1.10 in c:\programdata\anaconda3\lib\site-packages (from kaggle->-r requirements.txt (line 1)) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\programdata\anaconda3\lib\site-packages (from kaggle->-r requirements.txt (line 1)) (2024.2.2)
Requirement already satisfied: python-dateutil in c:\programdata\anaconda3\lib\site-packages (from kaggle->-r requirements.txt (line 1)) (2.8.2)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from kaggle->-r requirements.txt (line 1)) (2.31.0)
Requirement already satisfied: tqdm in c:\programdata\anaconda3\lib\site-packages (from kaggle->-r requirements.txt (line 1)) (4.65.0)
Requirement already satisfied: python-slugify in c:\users\léo\appdata\roaming\python\python311\site-packages (from kaggle->-r requirements.txt (line 1)) (8.0.4)
Requirement already satisfied: urllib3 in c:\programdata\anaconda3\lib\site-packages (from kaggle->-r requirements.txt (line 1)) (2.1.0)
Requirement already satisfied: bleach in c:\programdata\anaconda3\lib\site-packages (from kaggle->-r requirements.txt (line 1)) (4.1.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy->-r requirements.txt (line 2)) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\léo\appdata\roaming\python\python311\site-packages (from sqlalchemy->-r requirements.txt (line 2)) (3.0.3)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas->-r requirements.txt (line 3)) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\léo\appdata\roaming\python\python311\site-packages (from pandas->-r requirements.txt (line 3)) (2024.1)
Requirement already satisfied: setuptools in c:\programdata\anaconda3\lib\site-packages (from pandas-gbq->-r requirements.txt (line 5)) (68.0.0)
Requirement already satisfied: db-dtypes<2.0.0,>=1.0.4 in c:\users\léo\appdata\roaming\python\python311\site-packages (from pandas-gbq->-r requirements.txt (line 5)) (1.2.0)
Requirement already satisfied: pyarrow>=3.0.0 in c:\users\léo\appdata\roaming\python\python311\site-packages (from pandas-gbq->-r requirements.txt (line 5)) (16.0.0)
Requirement already satisfied: pydata-google-auth>=1.5.0 in c:\users\léo\appdata\roaming\python\python311\site-packages (from pandas-gbq->-r requirements.txt (line 5)) (1.8.2)
Requirement already satisfied: google-api-core<3.0.0dev,>=2.10.2 in c:\users\léo\appdata\roaming\python\python311\site-packages (from pandas-gbq->-r requirements.txt (line 5)) (2.18.0)
Requirement already satisfied: google-auth>=2.13.0 in c:\users\léo\appdata\roaming\python\python311\site-packages (from pandas-gbq->-r requirements.txt (line 5)) (2.29.0)
Requirement already satisfied: google-auth-oauthlib>=0.7.0 in c:\users\léo\appdata\roaming\python\python311\site-packages (from pandas-gbq->-r requirements.txt (line 5)) (1.2.0)
Requirement already satisfied: packaging>=20.0.0 in c:\programdata\anaconda3\lib\site-packages (from pandas-gbq->-r requirements.txt (line 5)) (23.2)
Requirement already satisfied: google-cloud-core<3.0.0dev,>=1.6.0 in c:\users\léo\appdata\roaming\python\python311\site-packages (from google-cloud-bigquery->-r requirements.txt (line 6)) (2.4.1)
Requirement already satisfied: google-resumable-media<3.0dev,>=0.6.0 in c:\users\léo\appdata\roaming\python\python311\site-packages (from google-cloud-bigquery->-r requirements.txt (line 6)) (2.7.0)
Requirement already satisfied: googleapis-common-protos<2.0.dev0,>=1.56.2 in c:\users\léo\appdata\roaming\python\python311\site-packages (from google-api-core<3.0.0dev,>=2.10.2->pandas-gbq->-r requirements.txt (line 5)) (1.63.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0.dev0,>=3.19.5 in c:\users\léo\appdata\roaming\python\python311\site-packages (from google-api-core<3.0.0dev,>=2.10.2->pandas-gbq->-r requirements.txt (line 5)) (4.25.3)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.22.3 in c:\users\léo\appdata\roaming\python\python311\site-packages (from google-api-core<3.0.0dev,>=2.10.2->pandas-gbq->-r requirements.txt (line 5)) (1.23.0)
Requirement already satisfied: grpcio<2.0dev,>=1.33.2 in c:\users\léo\appdata\roaming\python\python311\site-packages (from google-api-core<3.0.0dev,>=2.10.2->pandas-gbq->-r requirements.txt (line 5)) (1.62.1)
Requirement already satisfied: grpcio-status<2.0.dev0,>=1.33.2 in c:\users\léo\appdata\roaming\python\python311\site-packages (from google-api-core<3.0.0dev,>=2.10.2->pandas-gbq->-r requirements.txt (line 5)) (1.62.1)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\léo\appdata\roaming\python\python311\site-packages (from google-auth>=2.13.0->pandas-gbq->-r requirements.txt (line 5)) (5.3.3)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\léo\appdata\roaming\python\python311\site-packages (from google-auth>=2.13.0->pandas-gbq->-r requirements.txt (line 5)) (0.4.0)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\léo\appdata\roaming\python\python311\site-packages (from google-auth>=2.13.0->pandas-gbq->-r requirements.txt (line 5)) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\léo\appdata\roaming\python\python311\site-packages (from google-auth-oauthlib>=0.7.0->pandas-gbq->-r requirements.txt (line 5)) (2.0.0)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in c:\users\léo\appdata\roaming\python\python311\site-packages (from google-resumable-media<3.0dev,>=0.6.0->google-cloud-bigquery->-r requirements.txt (line 6)) (1.5.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests->kaggle->-r requirements.txt (line 1)) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests->kaggle->-r requirements.txt (line 1)) (3.4)
Requirement already satisfied: webencodings in c:\programdata\anaconda3\lib\site-packages (from bleach->kaggle->-r requirements.txt (line 1)) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\léo\appdata\roaming\python\python311\site-packages (from python-slugify->kaggle->-r requirements.txt (line 1)) (1.3)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from tqdm->kaggle->-r requirements.txt (line 1)) (0.4.6)
Requirement already satisfied: pyasn1<0.7.0,>=0.4.6 in c:\users\léo\appdata\roaming\python\python311\site-packages (from pyasn1-modules>=0.2.1->google-auth>=2.13.0->pandas-gbq->-r requirements.txt (line 5)) (0.6.0)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\léo\appdata\roaming\python\python311\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.7.0->pandas-gbq->-r requirements.txt (line 5)) (3.2.2)

In [25]:
# Importando as bibliotecas pandas e numpy, importante para tratamento e visualização dos dados importados
import pandas as pd
import numpy as np

# Importando a biblioteca pandas_gbq, para que possamos transferir os arquibvos tratados para um banco de dados.
import pandas_gbq

# Importando as biblioteca bigquery e sqlalchemy, para que possamos transferir os arquibvos tratados para um banco de dados.
from sqlalchemy import create_engine, inspect
from google.cloud import bigquery

# Importando a biblioteca zipfile para descompactar os arquivos importados via API do Kaggle.
import zipfile
import re

### Importando dataset via Kaggle API

In [26]:
# Download do conjunto de dados via API do Kaggle.\n",
!kaggle datasets download -d olistbr/brazilian-ecommerce

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.6.12 / client 1.6.11)
Dataset URL: https://www.kaggle.com/datasets/olistbr/brazilian-ecommerce
License(s): CC-BY-NC-SA-4.0
brazilian-ecommerce.zip: Skipping, found more recently modified local copy (use --force to force download)

In [27]:
#Descompactando arquivo recebido
arquivo_zip = 'brazilian-ecommerce.zip'

# Selecionando uma pasta chamada /csv/ para melhorar a organização.
destination_folder = 'csv/'
with zipfile.ZipFile(arquivo_zip, 'r') as zipado:
    zipado.extractall(destination_folder)

### Criação de dataframes

In [28]:
df_geolocation = pd.read_csv('csv/olist_geolocation_dataset.csv')
df_customers = pd.read_csv('csv/olist_customers_dataset.csv')
df_items = pd.read_csv('csv/olist_order_items_dataset.csv')
df_payments = pd.read_csv('csv/olist_order_payments_dataset.csv')
df_reviews = pd.read_csv('csv/olist_order_reviews_dataset.csv')
df_orders = pd.read_csv('csv/olist_orders_dataset.csv')
df_products = pd.read_csv('csv/olist_products_dataset.csv')
df_sellers = pd.read_csv('csv/olist_sellers_dataset.csv')
df_names = pd.read_csv('csv/product_category_name_translation.csv')

### Função de tratamento de Dados

In [29]:
# Define uma função para gerar um DataFrame de resumo das características dos dados
def analise(data):
    # Cria um DataFrame 'analise' com colunas para capturar várias características dos dados
    analise = pd.DataFrame({
        'característica': data.columns.values,  # Nomes das colunas
        'tipo_de_dados': data.dtypes.values,  # Tipos de dados das colunas
        'valor_nulo(%)': data.isna().mean().values * 100,  # Porcentagem de valores ausentes
        'valor_negativo(%)': [len(data[col][data[col] < 0]) / len(data) * 100 if col in data.select_dtypes(include=[np.number]).columns else 0 for col in data.columns],  # Porcentagem de valores negativos para colunas numéricas
        'valor_zero(%)': [len(data[col][data[col] == 0]) / len(data) * 100 if col in data.select_dtypes(include=[np.number]).columns else 0 for col in data.columns],  # Porcentagem de valores zero para colunas numéricas
        'duplicado': data.duplicated().sum(),  # Número de linhas duplicadas
        'n_único': data.nunique().values,  # Número de valores únicos para cada coluna
        'amostra_única': [data[col].unique() for col in data.columns]  # Amostra de valores únicos para cada coluna
    })
    
    # Arredonda os valores no DataFrame de resumo para 3 casas decimais
    return analise.round(3)

## Dataset 'geolocation'
Geolocalização: Fornece dados de geolocalização relacionados aos clientes.

### Descrição das variáveis

![Geolocalização](img/dicionario/geolocalizacao.png)

### Visão Geral

In [69]:
print(f'Quantidade de Dados:\n Linhas: {df_geolocation.shape[0]}\n Colunas: {df_geolocation.shape[1]}')
df_geolocation.head(10)

Quantidade de Dados:
 Linhas: 1000163
 Colunas: 5

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP
5,1012,-23.547762,-46.635361,são paulo,SP
6,1047,-23.546273,-46.641225,sao paulo,SP
7,1013,-23.546923,-46.634264,sao paulo,SP
8,1029,-23.543769,-46.634278,sao paulo,SP
9,1011,-23.547640,-46.636032,sao paulo,SP

In [31]:
analise(df_geolocation)

,característica,tipo_de_dados,valor_nulo(%),valor_negativo(%),valor_zero(%),duplicado,n_único,amostra_única
0,geolocation_zip_code_prefix,int64,0.0,0.000,0.0,261831,19015,"[1037, 1046, 1041, 1035, 1012, 1047, 1013, 102..."
1,geolocation_lat,float64,0.0,99.866,0.0,261831,717360,"[-23.54562128115268, -23.54608112703553, -23.5..."
2,geolocation_lng,float64,0.0,100.000,0.0,261831,717613,"[-46.63929204800168, -46.64482029837157, -46.6..."
3,geolocation_city,object,0.0,0.000,0.0,261831,8011,"[sao paulo, são paulo, sao bernardo do campo, ..."
4,geolocation_state,object,0.0,0.000,0.0,261831,27,"[SP, RN, AC, RJ, ES, MG, BA, SE, PE, AL, PB, C..."

Tipos de Dados: O conjunto de dados contém uma mistura de tipos de dados. geolocation_zip_code_prefix é do tipo int64, o que é apropriado para códigos postais. geolocation_lat (latitude) e geolocation_lng (longitude) são do tipo float64, que é adequado para coordenadas geográficas. geolocation_city e geolocation_state são do tipo objeto, indicando que provavelmente são valores de string representando nomes geográficos.
m Valores Ausentes ou Zero: Nenhuma das colunas contém valores nulos ou zero. Isso indica boa integridade dos dados para esses campos.

Valor Negativo: As colunas geolocation_lat e geolocation_lng mostram quase todos os valores como negativos (99% e 100%, respectivamente). Isso é realmente esperado para coordenadas no Brasil, já que está localizado no Hemisfério Ocidental (longitude negativa) e principalmente no Hemisfério Sul (latitude negati

Duplicados: O conjunto de dados possui um número muito grande de linhas duplicadas (261.831), o que sugere um problema de entrada de dados ou que o processo de coleta de dados capturou várias entradas para os mesmos pontos de geolocalização.oints.df

### Corrigindo nomes de cidades

In [32]:
def filtrar_cidade(data, col):
    padrao = re.compile("[^a-z\sA-Z0-9-\'+]")
    df_filtrado = data[data[col].str.contains(padrao)]
    return df_filtrado

In [33]:
filtrar_cidade(df_geolocation, 'geolocation_city')

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
5,1012,-23.547762,-46.635361,são paulo,SP
14,1037,-23.545187,-46.637855,são paulo,SP
17,1024,-23.541390,-46.629899,são paulo,SP
21,1020,-23.552235,-46.628441,são paulo,SP
22,1011,-23.546690,-46.635447,são paulo,SP
...,...,...,...,...,...
1000094,99940,-28.060955,-51.858637,ibiaçá,RS
1000096,99900,-27.884844,-52.230025,getúlio vargas,RS
1000098,99900,-27.900022,-52.237668,getúlio vargas,RS
1000143,99930,-27.913659,-52.248615,estação,RS
1000147,99900,-27.880973,-52.223206,getúlio vargas,RS

## Dataset 'customers'
Clientes: Contém informações sobre os clientes do sistema de comércio eletrônico.

### Descrição das variáveis

![Clientes](img/dicionario/clientes.png)

### Visão Geral

In [68]:
print(f'Quantidade de Dados:\n Linhas: {df_customers.shape[0]}\n Colunas: {df_customers.shape[1]}')
df_customers.head(10)

Quantidade de Dados:
 Linhas: 99441
 Colunas: 5

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
5,879864dab9bc3047522c92c82e1212b8,4c93744516667ad3b8f1fb645a3116a4,89254,jaragua do sul,SC
6,fd826e7cf63160e536e0908c76c3f441,addec96d2e059c80c30fe6871d30d177,4534,sao paulo,SP
7,5e274e7a0c3809e14aba7ad5aae0d407,57b2a98a409812fe9618067b6b8ebe4f,35182,timoteo,MG
8,5adf08e34b2e993982a47070956c5c65,1175e95fb47ddff9de6b2b06188f7e0d,81560,curitiba,PR
9,4b7139f34592b3a31687243a302fa75b,9afe194fb833f79e300e37e580171f22,30575,belo horizonte,MG

In [35]:
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [36]:
analise(df_customers)

,característica,tipo_de_dados,valor_nulo(%),valor_negativo(%),valor_zero(%),duplicado,n_único,amostra_única
0,customer_id,object,0.0,0.0,0.0,0,99441,"[06b8999e2fba1a1fbc88172c00ba8bc7, 18955e83d33..."
1,customer_unique_id,object,0.0,0.0,0.0,0,96096,"[861eff4711a542e4b93843c6dd7febb0, 290c77bc529..."
2,customer_zip_code_prefix,int64,0.0,0.0,0.0,0,14994,"[14409, 9790, 1151, 8775, 13056, 89254, 4534, ..."
3,customer_city,object,0.0,0.0,0.0,0,4119,"[franca, sao bernardo do campo, sao paulo, mog..."
4,customer_state,object,0.0,0.0,0.0,0,27,"[SP, SC, MG, PR, RJ, RS, PA, GO, ES, BA, MA, M..."

Tipos de dados: os tipos de dados no conjunto de dados incluem int64 para a coluna customer_zip_code_prefix e object para todas as outras colunas, como customer_id, customer_unique_id, customer_city e customer_state.

Sem valores ausentes ou negativos: nenhuma das colunas contém valores nulos ou negativos. Isso indica boa integridade de dados para esses campos.

Sem dupdicatas: não há linhas duplicadas neste segmento do conjunto de dados, o que sugere que cada entrada é única.

Diversidade de dados: Os vaamostra únicaunique para customer_state revelam que o conjunto de dados inclui clientes de uma ampla variedade de estados brasileiros, o que pode ser valioso para segmentação de mercado e análise regional.

## Dataset 'items'
Itens de Pedido : A tabela contém informações sobre itens pedidos em um sistema de comércio eletrônico. Cada linha representa um item dentro de um pedido.

### Descrição das variáveis

![Clientes](img/dicionario/itenspedidos.png)

### Visão Geral

In [37]:
df_items.head(10)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14
5,00048cc3ae777c65dbb7d2a0634bc1ea,1,ef92defde845ab8450f9d70c526ef70f,6426d21aca402a131fc0a5d0960a3c90,2017-05-23 03:55:27,21.90,12.69
6,00054e8431b9d7675808bcb819fb4a32,1,8d4f2bb7e93e6710a28f34fa83ee7d28,7040e82f899a04d1b434b795a43b4617,2017-12-14 12:10:31,19.90,11.85
7,000576fe39319847cbb9d288c5617fa6,1,557d850972a7d6f792fd18ae1400d9b6,5996cddab893a4652a15592fb58ab8db,2018-07-10 12:30:45,810.00,70.75
8,0005a1a1728c9d785b8e2b08b904576c,1,310ae3c140ff94b03219ad0adc3c778f,a416b6a846a11724393025641d4edd5e,2018-03-26 18:31:29,145.95,11.65
9,0005f50442cb953dcd1d21e1fb923495,1,4535b0e1091c278dfd193e5a1d63b39f,ba143b05f0110f0dc71ad71b4466ce92,2018-07-06 14:10:56,53.99,11.40

In [38]:
print('Quantidade de Dados:',df_items.shape)

Quantidade de Dados: (112650, 7)

In [39]:
ordens_multiplas = df_items['order_item_id'] > 1
ordens_multiplas[ordens_multiplas].shape

(13984,)

In [40]:
df_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [41]:
df_items['shipping_limit_date'] = pd.to_datetime(df_items['shipping_limit_date'])

In [42]:
analise(df_items)

,característica,tipo_de_dados,valor_nulo(%),valor_negativo(%),valor_zero(%),duplicado,n_único,amostra_única
0,order_id,object,0.0,0.0,0.00,0,98666,"[00010242fe8c5a6d1ba2dd792cb16214, 00018f77f2f..."
1,order_item_id,int64,0.0,0.0,0.00,0,21,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
2,product_id,object,0.0,0.0,0.00,0,32951,"[4244733e06e7ecb4970a6e2683c13e61, e5f2d52b802..."
3,seller_id,object,0.0,0.0,0.00,0,3095,"[48436dade18ac8b2bce089ec2a041202, dd7ddc04e1b..."
4,shipping_limit_date,datetime64[ns],0.0,0.0,0.00,0,93318,"[2017-09-19 09:45:35, 2017-05-03 11:05:13, 201..."
5,price,float64,0.0,0.0,0.00,0,5968,"[58.9, 239.9, 199.0, 12.99, 199.9, 21.9, 19.9,..."
6,freight_value,float64,0.0,0.0,0.34,0,6999,"[13.29, 19.93, 17.87, 12.79, 18.14, 12.69, 11...."

Tipos de dados: o conjunto de dados inclui vários tipos de dados adequados para os dados que representam:

order_id, product_id e seller_id são do tipo object, que normalmente indica identificadores de string.
order_item_id é um int64, provavelmente representando um identificador numérico ou uma contagem.
shipping_limit_date é um objeto que deve estar no formato datetime porque representa a hora.
price e frete_value são float64, apropriados para representar valores monetários.
Sem valores ausentes ou negativos: não há valores nulos ou negativos em todas as colunas.

Valores Zero: A coluna frete_valor possui uma pequena porcentagem de valores zero (0,34%). Valores zero na coluna frete_valor podem sugerir frete grátis.

Duplicatas: nenhuma linha duplicada é relatada neste subconjunto do conjunto de dados.

## Dataset 'payments'
Pagamentos : Esta tabela contém informações sobre os pagamentos feitos para pedidos em e-commerce. Cada linha representa uma transação de pagamento única, detalhando como os clientes pagaram por seus pedidos.

### Descrição das variáveis

![Clientes](img/dicionario/pagamentos.png)

In [43]:
print('Quantidade de Dados:',df_payments.shape)
df_payments.head(10)

Quantidade de Dados: (103886, 5)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45
5,298fcdf1f73eb413e4d26d01b25bc1cd,1,credit_card,2,96.12
6,771ee386b001f06208a7419e4fc1bbd7,1,credit_card,1,81.16
7,3d7239c394a212faae122962df514ac7,1,credit_card,3,51.84
8,1f78449c87a54faf9e96e88ba1491fa9,1,credit_card,6,341.09
9,0573b5e23cbd798006520e1d5b4c6714,1,boleto,1,51.95

In [44]:
analise(df_payments)

,característica,tipo_de_dados,valor_nulo(%),valor_negativo(%),valor_zero(%),duplicado,n_único,amostra_única
0,order_id,object,0.0,0.0,0.000,0,99440,"[b81ef226f3fe1789b1e8b2acac839d17, a9810da8291..."
1,payment_sequential,int64,0.0,0.0,0.000,0,29,"[1, 2, 4, 5, 3, 8, 6, 7, 10, 11, 17, 19, 27, 1..."
2,payment_type,object,0.0,0.0,0.000,0,5,"[credit_card, boleto, voucher, debit_card, not..."
3,payment_installments,int64,0.0,0.0,0.002,0,24,"[8, 1, 2, 3, 6, 5, 4, 10, 7, 12, 9, 13, 15, 24..."
4,payment_value,float64,0.0,0.0,0.009,0,29077,"[99.33, 24.39, 65.71, 107.78, 128.45, 96.12, 8..."

Tipos de dados: O order_id é um tipo de objeto, normalmente indicando strings alfanuméricas, que é padrão para identificação de pedidos. Payment_sequential e payment_installments são do tipo int64, adequados para representar contagens inteiras. O payment_type é um tipo de objeto, indicando dados categóricos. Por último, payment_value é um float64, usado para valores numéricos contínuos, apropriado para valores monetários.

Sem valores ausentes ou negativos: o conjunto de dados não contém valores nulos ou negativos nas colunas apresentadas.

Valores Zero: Quase não há valores zero em nenhuma das colunas, com uma porcentagem muito pequena em pagamento_parcelas e pagamento_valor. Pode valer a pena investigar isso para garantir que representam transações válidas sem necessidade de pagamento, como itens promocionais.

Ddplicatas: A ausência de duplicatas indica que cada entrada nesta parte do conjunto de dados é única.

### Verificar se o número de parcelas de pagamento é igual a 0

In [45]:
df_payments[df_payments['payment_installments']==0]

,order_id,payment_sequential,payment_type,payment_installments,payment_value
46982,744bade1fcf9ff3f31d860ace076d422,2,credit_card,0,58.69
79014,1a57108394169c0b47d8f876acc9ba2d,2,credit_card,0,129.94

Os resultados mostram que para ambos os valores de order_id fornecidos, payment_sequential é apenas 2 e não há nenhum registro para payment_sequential que seja 1 na saída. Os registros podem representar uma anomalia se for esperado que a sequência comece em 1 para cada novo order_id. Portanto, eliminaremos esta entrada que tem payment_installments igual a 0.

In [23]:
df_payments = df_payments[df_payments['payment_installments']!=0]

SyntaxError: invalid syntax (2477723262.py, line 1)

In [46]:
df_payments[df_payments['payment_value']==0]

,order_id,payment_sequential,payment_type,payment_installments,payment_value
19922,8bcbe01d44d147f901cd3192671144db,4,voucher,1,0.0
36822,fa65dad1b0e818e3ccc5cb0e39231352,14,voucher,1,0.0
43744,6ccb433e00daae1283ccc956189c82ae,4,voucher,1,0.0
51280,4637ca194b6387e2d538dc89b124b0ee,1,not_defined,1,0.0
57411,00b1cb0320190ca0daa2c88b35206009,1,not_defined,1,0.0
62674,45ed6e85398a87c253db47c2d9f48216,3,voucher,1,0.0
77885,fa65dad1b0e818e3ccc5cb0e39231352,13,voucher,1,0.0
94427,c8c528189310eaa44a745b8d9d26908b,1,not_defined,1,0.0
100766,b23878b3e8eb4d25a158f57d96331b18,4,voucher,1,0.0

Vouchers ou Descontos: O payment_type é 'voucher' para a maioria dessas transações. É possível que representem a utilização de vouchers que cubram a totalidade do custo, daí um valor de pagamento zero. Além disso, a remoção dessas linhas pode resultar na falta de valores sequenciais de pagamento.

Tipo de Pagamento Não Definido: Existem entradas com payment_type como 'não_definido'. Isso pode indicar dados ausentes ou incompletos sobre como o pagamento foi processado. Portanto, eliminaremos payment_value de 0 com este método.

### Filtrar os registros com payment_value igual a 0 e método de pagamento "not_defined"

In [47]:
notdefined_0 = df_payments[(df_payments['payment_value'] == 0) & (df_payments['payment_type'] == 'not_defined')]
df_payments.drop(notdefined_0.index, inplace=True)

### Substituir "_" por espaços e converter para título

In [48]:
df_payments['payment_type'] = df_payments['payment_type'].str.replace('_', ' ').str.title()
df_payments[df_payments['payment_value']==0]

,order_id,payment_sequential,payment_type,payment_installments,payment_value
19922,8bcbe01d44d147f901cd3192671144db,4,Voucher,1,0.0
36822,fa65dad1b0e818e3ccc5cb0e39231352,14,Voucher,1,0.0
43744,6ccb433e00daae1283ccc956189c82ae,4,Voucher,1,0.0
62674,45ed6e85398a87c253db47c2d9f48216,3,Voucher,1,0.0
77885,fa65dad1b0e818e3ccc5cb0e39231352,13,Voucher,1,0.0
100766,b23878b3e8eb4d25a158f57d96331b18,4,Voucher,1,0.0

## Dataset 'reviews'

Reviews : Esta tabela contém informações sobre as avaliações deixadas pelos clientes para os pedidos que fizeram em uma plataforma de e-commerce. Cada linha representa um feedback do cliente sobre seus pedidos.

### Descrição das variáveis

![Avaliacoes](img/dicionario/avaliacoes.png)

In [49]:
df_reviews.head(10)

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53
5,15197aa66ff4d0650b5434f1b46cda19,b18dcdf73be66366873cd26c5724d1dc,1,NaN,NaN,2018-04-13 00:00:00,2018-04-16 00:39:37
6,07f9bee5d1b850860defd761afa7ff16,e48aa0d2dcec3a2e87348811bcfdf22b,5,NaN,NaN,2017-07-16 00:00:00,2017-07-18 19:30:34
7,7c6400515c67679fbee952a7525281ef,c31a859e34e3adac22f376954e19b39d,5,NaN,NaN,2018-08-14 00:00:00,2018-08-14 21:36:06
8,a3f6f7f6f433de0aefbb97da197c554c,9c214ac970e84273583ab523dfafd09b,5,NaN,NaN,2017-05-17 00:00:00,2017-05-18 12:05:37
9,8670d52e15e00043ae7de4c01cc2fe06,b9bf720beb4ab3728760088589c62129,4,recomendo,aparelho eficiente. no site a marca do aparelh...,2018-05-22 00:00:00,2018-05-23 16:45:47

In [50]:
print('Quantidade de Dados:',df_reviews.shape)
df_reviews.head(10)

Quantidade de Dados: (99224, 7)

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53
5,15197aa66ff4d0650b5434f1b46cda19,b18dcdf73be66366873cd26c5724d1dc,1,NaN,NaN,2018-04-13 00:00:00,2018-04-16 00:39:37
6,07f9bee5d1b850860defd761afa7ff16,e48aa0d2dcec3a2e87348811bcfdf22b,5,NaN,NaN,2017-07-16 00:00:00,2017-07-18 19:30:34
7,7c6400515c67679fbee952a7525281ef,c31a859e34e3adac22f376954e19b39d,5,NaN,NaN,2018-08-14 00:00:00,2018-08-14 21:36:06
8,a3f6f7f6f433de0aefbb97da197c554c,9c214ac970e84273583ab523dfafd09b,5,NaN,NaN,2017-05-17 00:00:00,2017-05-18 12:05:37
9,8670d52e15e00043ae7de4c01cc2fe06,b9bf720beb4ab3728760088589c62129,4,recomendo,aparelho eficiente. no site a marca do aparelh...,2018-05-22 00:00:00,2018-05-23 16:45:47

In [51]:
analise(df_reviews)

,característica,tipo_de_dados,valor_nulo(%),valor_negativo(%),valor_zero(%),duplicado,n_único,amostra_única
0,review_id,object,0.000,0.0,0.0,0,98410,"[7bc2406110b926393aa56f80a40eba40, 80e641a11e5..."
1,order_id,object,0.000,0.0,0.0,0,98673,"[73fc7af87114b39712e6da79b0a377eb, a548910a1c6..."
2,review_score,int64,0.000,0.0,0.0,0,5,"[4, 5, 1, 3, 2]"
3,review_comment_title,object,88.342,0.0,0.0,0,4527,"[nan, recomendo, Super recomendo, Não chegou m..."
4,review_comment_message,object,58.703,0.0,0.0,0,36159,"[nan, Recebi bem antes do prazo estipulado., P..."
5,review_creation_date,object,0.000,0.0,0.0,0,636,"[2018-01-18 00:00:00, 2018-03-10 00:00:00, 201..."
6,review_answer_timestamp,object,0.000,0.0,0.0,0,98248,"[2018-01-18 21:46:59, 2018-03-11 03:05:13, 201..."

Tipos de dados: o conjunto de dados contém várias colunas com tipos de dados de objetos que são típicos para dados de string, como IDs e texto, e int64 para valores numéricos como review_score. review_creation_date e review_answer_timestamp são objetos, que devem estar no formato data e hora porque representam a hora.

Valor ausente: as colunas review_comment_title e review_comment_message possuem uma porcentagem significativa de valores nulos, 88% e 58% respectivamente. Isso pode indicar que muitos clientes não deixam um título ou mensagem com sua avaliação, o que é comum em conjuntos de dados de avaliação. Eliminaremos esta coluna porque o número de valores ausentes é superior a 50%.

Sem valores negativos ou zero: não há valores negativos ou zero em colunas numéricas.

Duplicatas: não há linhas duplicadas no conjunto de dados, o que indica que cada linha representa uma revisão exclusiva.

## Dataset 'orders'
Pedidos : Esta tabela contém informações sobre os pedidos feitos pelos clientes em plataformas de e-commerce. Cada linha representa um pedido único feito pelos clientes.

### Descrição das variáveis

![Pedidos](img/dicionario/pedidos.png)

In [52]:
print('Quantidade de Dados:',df_orders.shape)
df_orders.head(10)

Quantidade de Dados: (99441, 8)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00
5,a4591c265e18cb1dcee52889e2d8acc3,503740e9ca751ccdda7ba28e9ab8f608,delivered,2017-07-09 21:57:05,2017-07-09 22:10:13,2017-07-11 14:58:04,2017-07-26 10:57:55,2017-08-01 00:00:00
6,136cce7faa42fdb2cefd53fdc79a6098,ed0271e0b7da060a393796590e7b737a,invoiced,2017-04-11 12:22:08,2017-04-13 13:25:17,NaN,NaN,2017-05-09 00:00:00
7,6514b8ad8028c9f2cc2374ded245783f,9bdf08b4b3b52b5526ff42d37d47f222,delivered,2017-05-16 13:10:30,2017-05-16 13:22:11,2017-05-22 10:07:46,2017-05-26 12:55:51,2017-06-07 00:00:00
8,76c6e866289321a7c93b82b54852dc33,f54a9f0e6b351c431402b8461ea51999,delivered,2017-01-23 18:29:09,2017-01-25 02:50:47,2017-01-26 14:16:31,2017-02-02 14:08:10,2017-03-06 00:00:00
9,e69bfb5eb88e0ed6a785585b27e16dbf,31ad1d1b63eb9962463f764d4e6e0c9d,delivered,2017-07-29 11:55:02,2017-07-29 12:05:32,2017-08-10 19:45:24,2017-08-16 17:14:30,2017-08-23 00:00:00

In [53]:
analise(df_orders)

,característica,tipo_de_dados,valor_nulo(%),valor_negativo(%),valor_zero(%),duplicado,n_único,amostra_única
0,order_id,object,0.000,0,0,0,99441,"[e481f51cbdc54678b7cc49136f2d6af7, 53cdb2fc8bc..."
1,customer_id,object,0.000,0,0,0,99441,"[9ef432eb6251297304e76186b10a928d, b0830fb4747..."
2,order_status,object,0.000,0,0,0,8,"[delivered, invoiced, shipped, processing, una..."
3,order_purchase_timestamp,object,0.000,0,0,0,98875,"[2017-10-02 10:56:33, 2018-07-24 20:41:37, 201..."
4,order_approved_at,object,0.161,0,0,0,90733,"[2017-10-02 11:07:15, 2018-07-26 03:24:27, 201..."
5,order_delivered_carrier_date,object,1.793,0,0,0,81018,"[2017-10-04 19:55:00, 2018-07-26 14:31:00, 201..."
6,order_delivered_customer_date,object,2.982,0,0,0,95664,"[2017-10-10 21:25:13, 2018-08-07 15:27:45, 201..."
7,order_estimated_delivery_date,object,0.000,0,0,0,459,"[2017-10-18 00:00:00, 2018-08-13 00:00:00, 201..."

Tipos de dados: todas as colunas possuem o tipo de dados do objeto, possivelmente representando informações de string para order_id, customer_id, order_status. No entanto, para outras colunas, você deve usar o tipo de dados datetime porque representa o tempo.

Valor ausente: uma pequena porcentagem (<3%) de valores nulos está presente em order_approved_at, order_delivered_carrier_date e order_delivered_customer_date.

Sem valores negativos ou zero: não há valores negativos ou zero em todas as colunas porque todos os tipos de dados são objetos.

Duplicatas: não há linhas duplicadas no conjunto de dados, o que indica que cada linha representa uma revisão exclusiva.

In [54]:
# Remover linhas com valores ausentes
df_orders.dropna(inplace=True)

# Converter a coluna 'order_status' para o formato de título
df_orders['order_status'] = df_orders['order_status'].str.title()

# Converter colunas relacionadas a datas para o tipo de dados datetime
df_orders['order_purchase_timestamp'] = pd.to_datetime(df_orders['order_purchase_timestamp'])
df_orders['order_approved_at'] = pd.to_datetime(df_orders['order_approved_at'])
df_orders['order_delivered_carrier_date'] = pd.to_datetime(df_orders['order_delivered_carrier_date'])
df_orders['order_delivered_customer_date'] = pd.to_datetime(df_orders['order_delivered_customer_date'])
df_orders['order_estimated_delivery_date'] = pd.to_datetime(df_orders['order_estimated_delivery_date'])

## Dataset 'products'
Produtos : A tabela contém uma coleção de dados de produtos de plataformas de e-commerce que contém informações sobre vários produtos, como descrições ou tamanhos.

### Descrição das variáveis

![Produtos](img/dicionario/produtos.png)

In [55]:
print('Quantidade de Dados:',df_products.shape)
df_products.head(10)

Quantidade de Dados: (32951, 9)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0
5,41d3672d4792049fa1779bb35283ed13,instrumentos_musicais,60.0,745.0,1.0,200.0,38.0,5.0,11.0
6,732bd381ad09e530fe0a5f457d81becb,cool_stuff,56.0,1272.0,4.0,18350.0,70.0,24.0,44.0
7,2548af3e6e77a690cf3eb6368e9ab61e,moveis_decoracao,56.0,184.0,2.0,900.0,40.0,8.0,40.0
8,37cc742be07708b53a98702e77a21a02,eletrodomesticos,57.0,163.0,1.0,400.0,27.0,13.0,17.0
9,8c92109888e8cdf9d66dc7e463025574,brinquedos,36.0,1156.0,1.0,600.0,17.0,10.0,12.0

In [56]:
analise(df_products)

,característica,tipo_de_dados,valor_nulo(%),valor_negativo(%),valor_zero(%),duplicado,n_único,amostra_única
0,product_id,object,0.000,0.0,0.000,0,32951,"[1e9e8ef04dbcff4541ed26657ea517e5, 3aa071139cb..."
1,product_category_name,object,1.851,0.0,0.000,0,73,"[perfumaria, artes, esporte_lazer, bebes, util..."
2,product_name_lenght,float64,1.851,0.0,0.000,0,66,"[40.0, 44.0, 46.0, 27.0, 37.0, 60.0, 56.0, 57...."
3,product_description_lenght,float64,1.851,0.0,0.000,0,2960,"[287.0, 276.0, 250.0, 261.0, 402.0, 745.0, 127..."
4,product_photos_qty,float64,1.851,0.0,0.000,0,19,"[1.0, 4.0, 2.0, 3.0, 5.0, 9.0, 6.0, nan, 7.0, ..."
5,product_weight_g,float64,0.006,0.0,0.012,0,2204,"[225.0, 1000.0, 154.0, 371.0, 625.0, 200.0, 18..."
6,product_length_cm,float64,0.006,0.0,0.000,0,99,"[16.0, 30.0, 18.0, 26.0, 20.0, 38.0, 70.0, 40...."
7,product_height_cm,float64,0.006,0.0,0.000,0,102,"[10.0, 18.0, 9.0, 4.0, 17.0, 5.0, 24.0, 8.0, 1..."
8,product_width_cm,float64,0.006,0.0,0.000,0,95,"[14.0, 20.0, 15.0, 26.0, 13.0, 11.0, 44.0, 40...."

Tipos de dados: Os dados consistem em dois tipos de dados principais, que são object e float64.

Valor ausente: a tabela mostra que a maioria das colunas tem uma baixa porcentagem de valores ausentes (null_value <2%). Isso sugere que os dados estão quase completos.

Sem Negativo: Não há colunas com porcentagem de valores negativos. Isso indica que todos os valores nessas colunas não são negativos.

Valores Zero: Apenas uma coluna possui uma porcentagem baixa de valores zero (0_value <1%). Isto sugere que os dados nesta coluna específica raramente contêm valores zero.

Duplicatas: não há linhas duplicadas neste conjunto de dados.

Número de valores exclusivos (n_unique): a coluna product_id possui 32.951 valores exclusivos, enquanto a coluna product_category_name possui 73 valores exclusivos. Isso indica uma variação significativa nas categorias de produtos.

## Dataset 'names'
Categorias : A tabela contém um conjunto de dados de tradução de nomes de categorias de produtos, usado para traduzir os nomes das categorias de produtos do português para o inglês.

### Analisando dados de Categorias

![Categorias](img/dicionario/categoria.png)

In [57]:
print('Quantidade de Dados:',df_names.shape)
df_names.head(10)

Quantidade de Dados: (71, 2)

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor
5           esporte_lazer                sports_leisure
6              perfumaria                     perfumery
7   utilidades_domesticas                    housewares
8               telefonia                     telephony
9      relogios_presentes                 watches_gifts

In [58]:
analise(df_names)

,característica,tipo_de_dados,valor_nulo(%),valor_negativo(%),valor_zero(%),duplicado,n_único,amostra_única
0,product_category_name,object,0.0,0,0,0,71,"[beleza_saude, informatica_acessorios, automot..."
1,product_category_name_english,object,0.0,0,0,0,71,"[health_beauty, computers_accessories, auto, b..."

Tipos de dados: tipos de dados dentro do objeto somente do conjunto de dados para todas as colunas.

Sem valores ausentes ou negativos: nenhuma das colunas contém valores nulos ou negativos. Isso indica boa integridade de dados para esses campos.

Sem duplicatas: não há linhas duplicadas neste segmento do conjunto de dados, o que sugere que cada entrada é única.

Total de produtos: existem 71 entradas exclusivas em cada uma dessas colunas, o que implica que existem 71 categorias de produtos diferentes descritas no conjunto de dados.

In [59]:
# Substituir "_" por espaços e converter para maiúscula na primeira letra de cada palavra
df_names['product_category_name_english'] = df_names['product_category_name_english'].str.replace('_', ' ').str.title()

In [60]:
# Mostrar os valores únicos da coluna 'product_category_name_english' no DataFrame df_cat
df_names['product_category_name_english'].unique()

array(['Health Beauty', 'Computers Accessories', 'Auto', 'Bed Bath Table',
       'Furniture Decor', 'Sports Leisure', 'Perfumery', 'Housewares',
       'Telephony', 'Watches Gifts', 'Food Drink', 'Baby', 'Stationery',
       'Tablets Printing Image', 'Toys', 'Fixed Telephony',
       'Garden Tools', 'Fashion Bags Accessories', 'Small Appliances',
       'Consoles Games', 'Audio', 'Fashion Shoes', 'Cool Stuff',
       'Luggage Accessories', 'Air Conditioning',
       'Construction Tools Construction',
       'Kitchen Dining Laundry Garden Furniture',
       'Costruction Tools Garden', 'Fashion Male Clothing', 'Pet Shop',
       'Office Furniture', 'Market Place', 'Electronics',
       'Home Appliances', 'Party Supplies', 'Home Confort',
       'Costruction Tools Tools', 'Agro Industry And Commerce',
       'Furniture Mattress And Upholstery', 'Books Technical',
       'Home Construction', 'Musical Instruments',
       'Furniture Living Room', 'Construction Tools Lights',
       'Industry Commerce And Business', 'Food', 'Art',
       'Furniture Bedroom', 'Books General Interest',
       'Construction Tools Safety', 'Fashion Underwear Beach',
       'Fashion Sport', 'Signaling And Security', 'Computers',
       'Christmas Supplies', 'Fashio Female Clothing',
       'Home Appliances 2', 'Books Imported', 'Drinks', 'Cine Photo',
       'La Cuisine', 'Music', 'Home Comfort 2',
       'Small Appliances Home Oven And Coffee', 'Cds Dvds Musicals',
       'Dvds Blu Ray', 'Flowers', 'Arts And Craftmanship',
       'Diapers And Hygiene', 'Fashion Childrens Clothes',
       'Security And Services'], dtype=object)

## Dataset 'sellers'
Vendedores : Esta tabela contém informações sobre vendedores registrados na plataforma de e-commerce. Cada linha fornece detalhes sobre um único vendedor.

### Descrição das variáveis

![Vendedores](img/dicionario/vendedor.png)

In [61]:
print('Quantidade de Dados:',df_sellers.shape)
df_sellers.head(10)

Quantidade de Dados: (3095, 4)

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP
5,c240c4061717ac1806ae6ee72be3533b,20920,rio de janeiro,RJ
6,e49c26c3edfa46d227d5121a6b6e4d37,55325,brejao,PE
7,1b938a7ec6ac5061a66a3766e0e75f90,16304,penapolis,SP
8,768a86e36ad6aae3d03ee3c6433d61df,1529,sao paulo,SP
9,ccc4bbb5f32a6ab2b7066a4130f114e3,80310,curitiba,PR

Tipos de dados: os tipos de dados no conjunto de dados incluem int64 para a coluna seller_zip_code_prefix e object para todas as outras colunas, como seller_id, seller_city e seller_state.

Sem valores ausentes ou negativos: nenhuma das colunas contém valores nulos ou negativos. Isso indica boa integridade de dados para esses campos.

Sem duplicatas: não há linhas duplicadas neste segmento do conjunto de dados, o que sugere que cada entrada é única.

Total de vendedores: existem 3.095 entradas exclusivas na coluna seller_id, o que na verdade implica que há 3.095 vendedores diferentes nos dados.

In [62]:
# Verificar a validade dos nomes das cidades
filtrar_cidade(df_sellers, 'seller_city')

,seller_id,seller_zip_code_prefix,seller_city,seller_state
237,c3aad7dc65449ae90a5e9c3c6c1e78e0,15350,auriflama/sp,SP
246,71593c7413973a1e160057b80d4958f6,3407,sao paulo / sao paulo,SP
360,a3fa18b3f688ec0fca3eb8bfcbd2d5b3,4557,são paulo,SP
476,26b482dccfa29bd2e40703ba45523702,13450,santa barbara d´oeste,SP
551,723a46b89fd5c3ed78ccdf039e33ac63,93310,"novo hamburgo, rio grande do sul, brasil",RS
622,7994b065a7ffb14e71c6312cf87b9de2,29142,cariacica / es,ES
869,cbf09e831b0c11f6f23ffb51004db972,9726,sbc/sp,SP
874,4aba391bc3b88717ce08eb11e44937b2,45816,arraial d'ajuda (porto seguro),BA
945,f52c2422904463fdd7741f99045fecb6,9230,santo andre/sao paulo,SP
1004,1cbd32d00d01bb8087a5eb088612fd9c,3363,sp / sp,SP
1159,89dda63a3c907c468ec88c310ed91213,9380,maua/sao paulo,SP
1337,720e6cf846ea7572cbb66b743fb91e6c,8717,mogi das cruzes / sp,SP
1346,cf1313c6e2c01c2f4b014f97db4bcd2b,22050,rio de janeiro \rio de janeiro,RJ
1447,fe9d9cf8631285d5982c6e2cf27fb114,36200,barbacena/ minas gerais,MG
1649,d79e8478eed9999493990b44955fb22e,20081,rio de janeiro / rio de janeiro,RJ
1712,6025c79c035c3d772133b8b8238463b2,83327,pinhais/pr,PR
1920,01fd077212124329bac32490e8ef80d9,14079,ribeirao preto / sao paulo,SP
2162,a1bea7061f61f6fdd9a85a6325ba1033,6311,carapicuiba / sao paulo,SP
2258,4b5f66b7adcf57f1ecc0d3c07dd6b177,87025,vendas@creditparts.com.br,PR
2340,5dceca129747e92ff8ef7a997dc4f8ca,13450,santa barbara d´oeste,SP
2620,6a3139c7bf09ece22a4713d956acbe5e,13790,sao sebastiao da grama/sp,SP
2988,f9eedec3129e8cc6b6429c42d0808c5b,22793,"rio de janeiro, rio de janeiro, brasil",RJ
3015,7f5e4d5efad7e44b91115dd1decb65f3,12306,jacarei / sao paulo,SP

Novamente, há inválidos e inconsistências em seller_city. Para resolver esse problema, a coluna seller_city será padronizada com base nos CEPs nos dados de geolocalização limpos.

Valores ausentes: o conjunto de dados contém valores ausentes, mas eles são relativamente pequenos, representando menos de 2% do conjunto total de dados. Como resultado, uma abordagem para lidar com esses valores ausentes é simplesmente eliminar as linhas com valores ausentes.

Valores negativos: não há valores negativos presentes no conjunto de dados, o que é um sinal positivo, pois valores negativos em características como preço ou pagamento indicariam erros ou anomalias nos dados.

Valores Zero: O recurso frete_valor e pagamento_valor têm valores zero de 0,3% e 0,003%, respectivamente. Estas ocorrências podem ser consideradas normais, pois alguns pedidos podem incluir frete grátis ou pagamentos por utilização de vouchers ou promoções específicas.

Valores duplicados: não há valores duplicados no conjunto de dados. Cada registro é único, o que sugere que não há entradas idênticas ou repetições de dados no conjunto de dados.

Informações duplicadas: Existem duas colunas, nomeadamente product_category_name e product_category_name_english, contendo informações semelhantes sobre categorias de produtos. Podemos optar por utilizar um deles, pois fornecem informações redundantes.

## Upload para Banco de Dados

In [63]:
# Dicionário contendo os nomes dos dataframes e nomes de tabelas correspondentes na criação
dicionario_nomes = {
    'geolocation': df_geolocation,
    'customers': df_customers,
    'items': df_items,
    'payments': df_payments,
    'reviews': df_reviews,
    'orders': df_orders,
    'products': df_products,
    'sellers': df_sellers,
    'names': df_names
}

### Postgres

In [64]:
# Criação de engine para conexão ao Banco de Dados Postgres
engine = create_engine('postgresql://koru_j8mm_user:mVPYJRzo9Ve20CebTRI6pEbK3vSIldcL@dpg-cobdglv109ks738hlstg-a.oregon-postgres.render.com/koru_j8mm')

for tabela, dataframe in dicionario_nomes.items():
    inspector = inspect(engine)
    if inspector.has_table(tabela):
        continue
    else:
        dataframe.to_sql(tabela, engine, index=False)

print('Processo de envio de dados concluído.')

Processo de envio de dados concluído.

### BigQuery

In [ ]:
# Criação de engine para conexão ao Banco de Dados BigQuery
nome_projeto = 'koru-dados'
nome_dataset = 'projeto_mentoria'

client = bigquery.Client.from_service_account_json("venv/koru-dados-03d788419ea7.json")
dataset_ref = client.dataset(nome_dataset, project=nome_projeto)
dataset = bigquery.Dataset(dataset_ref)
client.create_dataset(dataset, exists_ok=True)

for tabela, dataframe in dicionario_nomes.items():
    nova_tabela = f'{nome_dataset}.{tabela}'
    try:
        pandas_gbq.to_gbq(dataframe, nova_tabela, project_id=nome_projeto, if_exists='fail')
    except Exception as e:
        print(f"Erro: {e}")
print('Processo de envio de dados concluído.')